.home-hd-bg{
    width:1521px;
     height:100px;
     position:absolute
}
/* @media (max-width: 600px) {
  .home-hd-bg{
    width:517px;
  }  
} */
@media (max-width: 480px) {
  .home-hd-bg{
    width:480px;
    height: 80px;
  }  
}