/* overlay */
.modal-overlay{
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background: rgba(0,0,0,0.5);
  display:flex;
  justify-content:center;
  align-items:center;
  z-index:999;
}
/* box */
.login-box{
  background:white;
  padding:30px;
  border-radius:10px;
  width:320px;
  text-align:center;
}
/* inputs */
.login-box input{
  width:100%;
  margin:10px 0;
  padding:10px;
}
/* buttons */
.btns{
  display:flex;
  justify-content:space-between;
  margin-top:10px;
}
.login-btn{
  background:rgb(57, 200, 57);
  color:white;
  padding:8px 15px;
  border: solid 2px rgb(57, 200, 57);
  border-radius: 10px;
}
.login-btn:hover{
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.35); ;
}
.cancel-btn{
  background:black;
  color:white;
  padding:8px 15px;
  border: solid 2px black;
  border-radius: 10px;
}
/* dropdown */
.user-menu{
  position:relative;
}
.logout-dropdown{
  position:absolute;
  background:white;
  border:1px solid #ddd;
  right:0;
  top:30px;
  padding:10px;
}
.logout-dropdown{
  position: absolute;
  top: 38px;
  right: 0;
  background: white;
  padding: 12px;
  border-radius: 8px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.15);
  animation: fade .15s ease;
}
/* logout button styling */
.logout-btn{
  border: none;
  background:rgb(242, 44, 44);
  color: white;
  padding: 8px 18px;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
}
.logout-btn:hover{
  text-decoration: underline;
}
/* animation */
@keyframes fade{
  from{opacity:0; transform: translateY(-6px);}
  to{opacity:1; transform: translateY(0);}
}
