.nav-bg{
    background-color: gray;
    padding: 10px 10px;
    margin: -10px -8px 0px -8px ;
}
.navbar{
  display: flex;
  margin: 20px 0px 20px 900px ; 
}
ul li {
  display: flex;
  text-decoration: none;
}
.nav-li{
  color:black;
  text-decoration: none;
  margin:0px 0px 0px 60px ;
}
.nav-li:hover{
    color: white;
}