@import url('https://fonts.googleapis.com/css2?family=Lora:wght@100..900&display=swap');

.logo {
  color: #D4AF37;
  align-items: center;
  font-size: 27px;
  position: relative;
  margin-top: 20px;
}

.brand-name {
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 25px;
  margin: -8px 0px 0px -4px;
}

.Name_banner {
  font-family: Lora;
  position: relative;
  margin: 20px 0px 20px 0px;
  color: rgb(255, 255, 255);
  text-align: center;
  letter-spacing: 15px;
}

.nav-bg {
  background-color: rgb(255, 255, 255);
  padding: 10px 20px;
  position: sticky;
  top: 0px;
  z-index: 3;
}

.nav1 {
  display: flex;
  justify-content: center;
  margin-top: -48px;
  position: relative;
}

.nav1 .active {
  padding-bottom: 2px;
  border-bottom: 2px solid rgb(0, 34, 203);
}

.nav2 {
  display: flex;
  margin: -30px 0px 0px 1100px;
}

ul li {
  display: flex;
  text-decoration: none;
}

#nav-li {
  color: rgb(0, 0, 0);
  font-size: larger;
  text-decoration: none;
  margin: 5px 0px 0px 60px;

}

.nav-li2 {
  cursor: pointer;
  color: rgb(0, 0, 0);
  font-size: larger;
  text-decoration: none;
  margin: 0px 0px 0px 60px;
  z-index: 5;
  border: none;
  outline: none;
  background-color: white;
}

#nav-li:hover {
  color: rgb(0, 34, 203);
}

.nav-li2:hover {
  color: rgb(0, 34, 203);
}

.nav-line {
  color: rgb(0, 0, 0);
  margin: 0px 0px 0px 0px;
}

/* chatgpt */
.device-switch {
  display: flex;
  gap: 12px;
  margin-left: 15px;
  font-size: 20px;
  cursor: pointer;
  align-items: center;
}

.device-switch svg {
  opacity: 0.5;
  transition: 0.25s;
}

.device-switch svg:hover {
  transform: scale(1.15);
}

.device-switch svg.active {
  opacity: 1;
  color: #0d6efd;
}
/* @media (max-width: 480px) {
  .logo {
    align-items: center;
    font-size: 10px;
    position: relative;
    margin: 0px 0px 0px 0px; 
  }

  .brand-name {
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 15px;
    margin: -2px 0px 0px -78px;
  }

  .Name_banner {
    font-family: Lora;
    position: relative;
    margin: 20px 0px 20px 0px;
    color: rgb(255, 255, 255);
    text-align: center;
    letter-spacing: 15px;
  }

  .nav1 {
    display: flex;
    justify-content: left;
    margin-left: -16px;
    margin-top: -30px;
  }

  #nav-li {
    margin-left: 10px;
    font-size: 15px;
  }

  .nav2 {
    display: flex;
    margin: -26px 0px 0px 270px;
    font-size: 15px;
  }

  .nav-li2 {
    margin: 0px 0px 0px 10px;
    font-size: 15px;
  }

  .nav-line {
    color: rgb(0, 0, 0);
    margin: 0px 0px 0px -30px;
  }
} */

/* ================= MOBILE (phones) ================= */
@media (max-width: 480px) {

.logo {
    align-items: center;
    font-size: 15px;
    position: relative;
    margin: 0px 0px 0px -76px; 
  }

  .brand-name {
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 10px;
    margin: 0px 0px 0px -75px;
  }

  .Name_banner {
    font-family: Lora;
    position: relative;
    margin: 20px 0px 0px 0px;
    color: rgb(255, 255, 255);
    text-align: center;
    letter-spacing: 15px;
  }

  .nav1 {
    display: flex;
    justify-content: left;
    margin-top: -23px;
    margin-left: -32px;
  }

  #nav-li {
    margin-left: 15px;
    font-size: 10px;
  }

  .nav2 {
    display: flex;
    margin: -19px 0px 0px 230px;
    font-size: 10px;
  }

  .nav-li2 {
    margin: 0px 0px 0px 20px;
    font-size: 10px;
  }

  .nav-line {
    color: rgb(0, 0, 0);
    margin: 0px 0px 0px 0px;
  }

}
