/* background outside */
.preview-root {
  min-height: 100vh;
  background: #e9ecef;
  display: flex;
  justify-content: center;
}

/* actual website */
.preview-screen {
  background: white;
  min-height: 100vh;
  transition: all 0.3s ease;
}

/* DESKTOP MODE */
.preview-root.desktop .preview-screen {
  width: 100%;
  max-width: 100%;
}

/* MOBILE MODE */
.preview-root.mobile .preview-screen {
  width: 375px;
  max-width: 375px;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0 0 40px rgba(0,0,0,0.25);
}
