.home-hd-bg{
    width:1521px;
     height:100px;
     position:absolute
}
/* @media (max-width: 600px) {
  .home-hd-bg{
    width:517px;
  }  
} */
@media (max-width: 480px){
  .home-hd-bg{
    width:100%;
    height: 15%px;
  }  
  .Pro-name {
    margin-top: 10px;
    font-size: 15px;
  }
  .price{
    font-size: 15px;
  }
}