/* Product Details */
.product-details {
  display: grid;
  grid-template-columns: 1fr 1.2fr 0.8fr;
  gap: 40px;
  padding: 40px;
  background: white;
}

/* IMAGE */
.image-section img {
  width: 100%;
  max-width: 400px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

/* INFO */
.title {
  font-size: 28px;
  font-weight: 600;
}

.rating {
  color: gold;
  margin: 10px 0;
}

.price {
  font-size: 28px;
  color: red;
  font-weight: bold;
}

.desc {
  margin-top: 15px;
  color: black;
}

/* BUY BOX */
.buy-section {
  border: 1px solid white;
  padding: 20px;
  border-radius: 12px;
  height: fit-content;
  position: sticky;
  top: 90px;
}

.buy-price {
  color: red;
}

.stock {
  color: green;
  margin: 10px 0;
}

.add-cart {
  width: 100%;
  padding: 12px;
  background: yellow;
  border: none;
  border-radius: 25px;
  margin-bottom: 10px;
  font-weight: bold;
  cursor: pointer;
}

.buy-now {
  width: 100%;
  padding: 12px;
  background: orange;
  border: none;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
}

.add-cart:hover {
  background: yellow;
}

.buy-now:hover {
  background: orange;
}

.qty-box {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 10px;
}

.qty-box button {
  padding: 6px 12px;
  font-size: 18px;
}

/* product link */
.product-link {
  text-decoration: none;
}

.card {
  padding: 15px;
  border-radius: 12px;
  background: white;
  transition: 0.3s;
  text-align: center;
}

.card:hover {
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.35);
}

.card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}

.price {
  font-weight: bold;
  font-size: 18px;
  color: rgb(218, 73, 73);
}

/* Ratings */
.stars {
  margin: 6px 0;
}

.star {
  color: rgb(212, 212, 212);
  font-size: 18px;
}

.star.filled {
  color: gold;
}

.cart-layout {
  margin: 0px 0px 0px 200px;
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 50px;
  padding: 40px;
}

/* ITEM CARD */
.cart-card {
  display: flex;
  align-items: center;
  gap: 20px;
  border-bottom: 1px solid rgb(208, 206, 206);
  padding: 20px 0;
}

.cart-card img {
  width: 120px;
  border-radius: 10px;
}

.cart-price {
  margin-top: 10px;
  color: rgb(155, 35, 35);
  font-weight: bold;
}

/* DELETE */
.delete-btn {
  margin-bottom: auto;
  margin-left: auto;
  background: none;
  border: none;
  color: red;
  font-size: 18px;
  cursor: pointer;
}

/* SUMMARY */
.cart-summary {
  border: 1px solid black;
  padding: 60px 50px;
  height: fit-content;
  width: 300px;
  border-radius: 12px;
  position: sticky;
  top: 0px;
}

.checkout {
  width: 100%;
  background: yellow;
  border: none;
  padding: 12px;
  border-radius: 25px;
  margin-top: 10px;
  font-weight: bold;
  cursor: pointer;
}

@media (max-width:600px) {
  .cart-card {
    margin: 15px;
  }

  .details-container {
    max-width: 300px;
    margin: 15px;
  }

  /* ITEM CARD */
  .cart-card {
    display: flex;
    align-items: center;
    gap: 20px;
    border-bottom: 1px solid rgb(208, 206, 206);
    padding: 20px 0;
    margin-left: -30px;
  }

  /* Cart-Product-Details */
  .cart-layout {
    margin: 0px 0px 0px 0px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    padding: 40px;
  }

  /* SUMMARY */
  .cart-summary {
    border: 1px solid black;
    padding: 20px 20px;
    height: fit-content;
    width: 100px;
    border-radius: 12px;
    position: sticky;
    top: 0px;
    margin-top: 50px;
  }
   /* card */
  
.card {
  padding: 15px;
  border-radius: 12px;
  background: white;
  transition: 0.3s;
  text-align: center;
}
.card:hover {
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.35);
}
.card img {
  width: 100px;
  height: 140px;
  object-fit: cover;
  border-radius: 10px;
}
.price {
  font-weight: bold;
  font-size: 10px;
  color: rgb(218, 73, 73);
} 
.Pro-name{
  font-size: 15px;
  margin: 5px 0px 0px 0px ;
}
.stars {
  margin: -10px 0px 0px 0px ;
}
.star {
  color: rgb(212, 212, 212);
  font-size: 10px;
}

}