.Womens-banner{
     width:1420px;
    height:550px;
    margin: 0px 0px 0px 50px ;
}
@media (max-width: 600px){
 .Womens-banner{
    width:510px;
    height:300px;
    margin: 0px 0px 0px 10px ;
} 
}